{% extends "base.jinja2" %}

{% block title %}
    IIT Guwahati CSE Feedback System -- Admin Section
{% endblock title %}

{% block formlinks %}
{% endblock formlinks %}

{% block body %}

{% endblock body %}