<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="description" content="Course Evaluation Form A">
    <title>
        {% block title %}
            IIT Guwahati CSE Feedback System
        {% endblock title %}
    </title>
    {#    <link href="/css/style.css" type="text/css" rel="stylesheet"/>#}
    <link href="https://iitgfeedback.appspot.com/assets/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
</head>

<body style="background: #f5f5f5">
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">Home</a>

            {% block formlinks %}
                <div class="nav-collapse">
                    <ul class="nav">
                        <li><a href="/formA">Form A</a></li>
                        <li><a href="/formB">Form B</a></li>
                        <li><a href="/formC">Form C</a></li>
                        <li><a href="/credits">Credits</a></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            {% endblock formlinks %}

        </div>
    </div>
</div>

<div class="container">
    <br>
    <br>
    <br>

    <div class="hero-unit">     <!-- hero unit -->
        {% block body %}

        {% endblock body %}
    </div>

    <footer class="footer">
        <p>
            &copy; 2012 IIT Guwahati CSE Deptarment | Made Pretty With
            <a href="http://twitter.github.com/bootstrap/">
                Bootstrap
            </a>
        </p>
    </footer>

</div>
{#<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>#}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js" type="text/javascript"></script>
{#<script src="/assets/js/jquery-1.7.1.js"></script>#}
<script src="https://iitgfeedback.appspot.com/assets/js/bootstrap.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        prettyPrint();
    });
</script>
</body>
</html>
