{% extends "index.jinja2" %}

{% block notification %}
    <div class="alert alert-block alert-error">
        <h4>
            Error writing to database
        </h4>
    </div>
{% endblock notification %}