{% extends "index.jinja2" %}

{% block notification %}
    <div class="alert alert-block alert-error">
        <h4>
            Entered key is wrong
        </h4>
    </div>
{% endblock notification %}