{% extends "baseform.jinja2" %}

{% block heading %}
    <h1 id="heading">Course Evaluation Form C</h1>
    <h4>-- For All laboratory courses</h4>
{% endblock heading %}

{% block form %}

    {% if error is defined %}
        <div class="alert alert-block alert-error">
            <h4>{{ error }}</h4>
        </div>
    {% endif %}

    <fieldset>
        <legend>1. Your Unique Key Phrase</legend>
        <div class="control-group">
            <label class="control-label" for="key" style="width: 300px;">Enter your Key here </label>

            <div class="controls" style="margin-left:320px;">
                <input type="text" name="key" id="key" class="input-xlarge" value="" required="required"/>
            </div>
        </div>
    </fieldset>

    <fieldset>

        <legend>2. About myself</legend>

        <div class="control-group">
            <label class="control-label" for="rating2_1">
                My attendance in the classes of the course is
            </label>

            <div class="controls">
                <!-- single dropdown -->
                <select class="input-medium" id="rating2_1" name="rating2_1" required="required">
                    <option value="">Give Rating...</option>
                    <option value="1">Very Poor</option>
                    <option value="2">Poor</option>
                    <option value="3">Average</option>
                    <option value="4">Good</option>
                    <option value="5">Very Good</option>
                </select>

            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="rating2_2">
                My preparation before going to the class was
            </label>

            <div class="controls">
                <!-- single dropdown -->
                <select class="input-medium" id="rating2_2" name="rating2_2" required="required">
                    <option value="">Give Rating...</option>
                    <option value="1">Very Poor</option>
                    <option value="2">Poor</option>
                    <option value="3">Average</option>
                    <option value="4">Good</option>
                    <option value="5">Very Good</option>
                </select>

            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="rating2_3">
                My expected grade in the course is
            </label>

            <div class="controls">
                <!-- single dropdown -->
                <select class="input-medium" id="rating2_3" name="rating2_3" required="required">
                    <option value="">Give Rating...</option>
                    <option value="1">Very Poor</option>
                    <option value="2">Poor</option>
                    <option value="3">Average</option>
                    <option value="4">Good</option>
                    <option value="5">Very Good</option>
                </select>

            </div>
        </div>

    </fieldset>


    <fieldset>

        <legend>3. About the Course</legend>

        <div class="control-group">
            <label class="control-label" for="rating3_1">
                A detailed course syllabus was provided at the beginning of the course
            </label>

            <div class="controls">
                <!-- single dropdown -->
                <select class="input-medium" id="rating3_1" name="rating3_1" required="required">
                    <option value="">Give Rating...</option>
                    <option value="1">Strongly Disagree</option>
                    <option value="2">Disagree</option>
                    <option value="3">Neutral</option>
                    <option value="4">Agree</option>
                    <option value="5">Strongly Agree</option>
                </select>

            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="rating3_2">
                Text books/Reference books/Lab Manual/Instruction were appropriate for the course
            </label>

            <div class="controls">
                <!-- single dropdown -->
                <select class="input-medium" id="rating3_2" name="rating3_2" required="required">
                    <option value="">Give Rating...</option>
                    <option value="1">Strongly Disagree</option>
                    <option value="2">Disagree</option>
                    <option value="3">Neutral</option>
                    <option value="4">Agree</option>
                    <option value="5">Strongly Agree</option>
                </select>

            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="rating3_3">
                The course timing in the time-table was appropriate
            </label>

            <div class="controls">
                <!-- single dropdown -->
                <select class="input-medium" id="rating3_3" name="rating3_3" required="required">
                    <option value="">Give Rating...</option>
                    <option value="1">Strongly Disagree</option>
                    <option value="2">Disagree</option>
                    <option value="3">Neutral</option>
                    <option value="4">Agree</option>
                    <option value="5">Strongly Agree</option>
                </select>

            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="rating3_4">
                The course load was very heavy
            </label>

            <div class="controls">
                <!-- single dropdown -->
                <select class="input-medium" id="rating3_4" name="rating3_4" required="required">
                    <option value="">Give Rating...</option>
                    <option value="1">Strongly Disagree</option>
                    <option value="2">Disagree</option>
                    <option value="3">Neutral</option>
                    <option value="4">Agree</option>
                    <option value="5">Strongly Agree</option>
                </select>

            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="rating3_5">
                The course was highly enjoyable
            </label>

            <div class="controls">
                <!-- single dropdown -->
                <select class="input-medium" id="rating3_5" name="rating3_5" required="required">
                    <option value="">Give Rating...</option>
                    <option value="1">Strongly Disagree</option>
                    <option value="2">Disagree</option>
                    <option value="3">Neutral</option>
                    <option value="4">Agree</option>
                    <option value="5">Strongly Agree</option>
                </select>

            </div>
        </div>

    </fieldset>

    <fieldset>

    <legend>4. About the Instructor</legend>


    <div class="control-group">
        <label class="control-label" for="rating4_1">
            The course material was organized properly
        </label>

        <div class="controls">
            <!-- single dropdown -->
            <select class="input-medium" id="rating4_1" name="rating4_1" required="required">
                <option value="">Give Rating...</option>
                <option value="1">Strongly Disagree</option>
                <option value="2">Disagree</option>
                <option value="3">Neutral</option>
                <option value="4">Agree</option>
                <option value="5">Strongly Agree</option>
            </select>

        </div>
    </div>


    <div class="control-group">
        <label class="control-label" for="rating4_2">
            The concepts were explained properly
        </label>

        <div class="controls">
            <!-- single dropdown -->
            <select class="input-medium" id="rating4_2" name="rating4_2" required="required">
                <option value="">Give Rating...</option>
                <option value="1">Strongly Disagree</option>
                <option value="2">Disagree</option>
                <option value="3">Neutral</option>
                <option value="4">Agree</option>
                <option value="5">Strongly Agree</option>
            </select>

        </div>
    </div>


    <div class="control-group">
        <label class="control-label" for="rating4_3">
            Classes were held regularly and accordingly to the time-table
        </label>

        <div class="controls">
            <!-- single dropdown -->
            <select class="input-medium" id="rating4_3" name="rating4_3" required="required">
                <option value="">Give Rating...</option>
                <option value="1">Strongly Disagree</option>
                <option value="2">Disagree</option>
                <option value="3">Neutral</option>
                <option value="4">Agree</option>
                <option value="5">Strongly Agree</option>
            </select>

        </div>
    </div>


    <div class="control-group">
        <label class="control-label" for="rating4_4">
            The instructor's voice was clear and understandable
        </label>

        <div class="controls">
            <!-- single dropdown -->
            <select class="input-medium" id="rating4_4" name="rating4_4" required="required">
                <option value="">Give Rating...</option>
                <option value="1">Strongly Disagree</option>
                <option value="2">Disagree</option>
                <option value="3">Neutral</option>
                <option value="4">Agree</option>
                <option value="5">Strongly Agree</option>
            </select>

        </div>
    </div>


    <div class="control-group">
        <label class="control-label" for="rating4_5">
            Black-board work/visual presentations were of good quality(if applicable)
        </label>

        <div class="controls">
            <!-- single dropdown -->
            <select class="input-medium" id="rating4_5" name="rating4_5" required="required">
                <option value="">Give Rating...</option>
                <option value="1">Strongly Disagree</option>
                <option value="2">Disagree</option>
                <option value="3">Neutral</option>
                <option value="4">Agree</option>
                <option value="5">Strongly Agree</option>
            </select>

        </div>
    </div>


    <div class="control-group">
        <label class="control-label" for="rating4_6">
            Topics were covered in a logical sequence
        </label>

        <div class="controls">
            <!-- single dropdown -->
            <select class="input-medium" id="rating4_6" name="rating4_6" required="required">
                <option value="">Give Rating...</option>
                <option value="1">Strongly Disagree</option>
                <option value="2">Disagree</option>
                <option value="3">Neutral</option>
                <option value="4">Agree</option>
                <option value="5">Strongly Agree</option>
            </select>

        </div>
    </div>


    <div class="control-group">
        <label class="control-label" for="rating4_7">
            Assignments were useful and followed the lectures
        </label>

        <div class="controls">
            <!-- single dropdown -->
            <select class="input-medium" id="rating4_7" name="rating4_7" required="required">
                <option value="">Give Rating...</option>
                <option value="1">Strongly Disagree</option>
                <option value="2">Disagree</option>
                <option value="3">Neutral</option>
                <option value="4">Agree</option>
                <option value="5">Strongly Agree</option>
            </select>

        </div>
    </div>


    <div class="control-group">
        <label class="control-label" for="rating4_8">
            Questions and discussions were encouraged
        </label>

        <div class="controls">
            <!-- single dropdown -->
            <select class="input-medium" id="rating4_8" name="rating4_8" required="required">
                <option value="">Give Rating...</option>
                <option value="1">Strongly Disagree</option>
                <option value="2">Disagree</option>
                <option value="3">Neutral</option>
                <option value="4">Agree</option>
                <option value="5">Strongly Agree</option>
            </select>

        </div>
    </div>


    <div class="control-group">
        <label class="control-label" for="rating4_9">
            Evaluation was done regularly and feedback was given
        </label>

        <div class="controls">
            <!-- single dropdown -->
            <select class="input-medium" id="rating4_9" name="rating4_9" required="required">
                <option value="">Give Rating...</option>
                <option value="1">Strongly Disagree</option>
                <option value="2">Disagree</option>
                <option value="3">Neutral</option>
                <option value="4">Agree</option>
                <option value="5">Strongly Agree</option>
            </select>

        </div>
    </div>


    <div class="control-group">
        <label class="control-label" for="rating4_10">
            Overall, the instruction was excellent
        </label>

        <div class="controls">
            <!-- single dropdown -->
            <select class="input-medium" id="rating4_10" name="rating4_10" required="required">
                <option value="">Give Rating...</option>
                <option value="1">Strongly Disagree</option>
                <option value="2">Disagree</option>
                <option value="3">Neutral</option>
                <option value="4">Agree</option>
                <option value="5">Strongly Agree</option>
            </select>

        </div>
    </div>


    </fieldset>

    <fieldset>

        <legend>5. Strong and Weak points of the Course/Instructors</legend>

        <div class="control-group">
            <label class="control-label" for="comment" style="width: 150px;">
                Enter your Comment
            </label>

            <div class="controls" style="margin-left: 170px;">
                <textarea name="comment" placeholder="Here" id="comment" rows="10" class="input-xxlarge"></textarea>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <button type="submit" class="btn btn-primary btn-large">Submit Feedback</button>
    </fieldset>

{% endblock form %}
