<html>

<head>
    <title>
        Course Feedback Form A
    </title>
    <link href="/css/style.css" type="text/css" rel="stylesheet"/>
</head>

<body>

<h1>Course Evaluation Form A</h1>

<hr/>

<form method="POST">

    <label>Key
        <input type="text"/>
    </label>


</form>

</body>

</html>