{% extends "baseform.jinja2" %}

{% block heading %}
    <h1 id="heading">Course Evaluation Form B</h1>
{% endblock heading %}

{% block form %}
    {% if error is defined %}
        <div class="alert alert-block alert-error">
            <h4>{{ error }}</h4>
        </div>
    {% endif %}

    <fieldset>
        <legend>1.Your Unique Key Phrase</legend>
        <div class="control-group">
            <label class="control-label" for="key" style="width: 300px;">Enter your Key here </label>

            <div class="controls" style="margin-left:320px;">
                <input type="text" name="key" id="key" class="input-xlarge" required="required"/>
            </div>
        </div>
    </fieldset>

    <fieldset>

        <legend>2.About the Course</legend>

        <div class="control-group">
            <label class="control-label" for="rating2_1">
                A detailed course syllabus was provided at the beginning of the course
            </label>

            <div class="controls">
                <!-- single dropdown -->
                <select class="input-medium" id="rating2_1" name="rating2_1" required="required">
                    <option value="">Give Rating...</option>
                    <option value="1">Strongly Disagree</option>
                    <option value="2">Disagree</option>
                    <option value="3">Neutral</option>
                    <option value="4">Agree</option>
                    <option value="5">Strongly Agree</option>
                </select>

            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="rating2_2">
                Text books were appropriate for the course
            </label>

            <div class="controls">
                <!-- single dropdown -->
                <select class="input-medium" id="rating2_2" name="rating2_2" required="required">
                    <option value="">Give Rating...</option>
                    <option value="1">Strongly Disagree</option>
                    <option value="2">Disagree</option>
                    <option value="3">Neutral</option>
                    <option value="4">Agree</option>
                    <option value="5">Strongly Agree</option>
                </select>

            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="rating2_3">
                Reference books provided good support for the course
            </label>

            <div class="controls">
                <!-- single dropdown -->
                <select class="input-medium" id="rating2_3" name="rating2_3" required="required">
                    <option value="">Give Rating...</option>
                    <option value="1">Strongly Disagree</option>
                    <option value="2">Disagree</option>
                    <option value="3">Neutral</option>
                    <option value="4">Agree</option>
                    <option value="5">Strongly Agree</option>
                </select>

            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="rating2_4">
                The course load was heavy
            </label>

            <div class="controls">
                <!-- single dropdown -->
                <select class="input-medium" id="rating2_4" name="rating2_4" required="required">
                    <option value="">Give Rating...</option>
                    <option value="1">Strongly Disagree</option>
                    <option value="2">Disagree</option>
                    <option value="3">Neutral</option>
                    <option value="4">Agree</option>
                    <option value="5">Strongly Agree</option>
                </select>

            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="rating2_5">
                The course was relevant to my programme
            </label>

            <div class="controls">
                <!-- single dropdown -->
                <select class="input-medium" id="rating2_5" name="rating2_5" required="required">
                    <option value="">Give Rating...</option>
                    <option value="1">Strongly Disagree</option>
                    <option value="2">Disagree</option>
                    <option value="3">Neutral</option>
                    <option value="4">Agree</option>
                    <option value="5">Strongly Agree</option>
                </select>

            </div>
        </div>

    </fieldset>

    <fieldset>

        <legend>3.About the Instruction</legend>

        <div class="control-group">
            <label class="control-label" for="rating3_1">
                The Instructor was well prepared for the class
            </label>

            <div class="controls">
                <!-- single dropdown -->
                <select class="input-medium" id="rating3_1" name="rating3_1" required="required">
                    <option value="">Give Rating...</option>
                    <option value="1">Strongly Disagree</option>
                    <option value="2">Disagree</option>
                    <option value="3">Neutral</option>
                    <option value="4">Agree</option>
                    <option value="5">Strongly Agree</option>
                </select>

            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="rating3_2">
                The concepts were explained properly
            </label>

            <div class="controls">
                <!-- single dropdown -->
                <select class="input-medium" id="rating3_2" name="rating3_2" required="required">
                    <option value="">Give Rating...</option>
                    <option value="1">Strongly Disagree</option>
                    <option value="2">Disagree</option>
                    <option value="3">Neutral</option>
                    <option value="4">Agree</option>
                    <option value="5">Strongly Agree</option>
                </select>

            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="rating3_3">
                Classes were held regularly and accordingly to the time-table
            </label>

            <div class="controls">
                <!-- single dropdown -->
                <select class="input-medium" id="rating3_3" name="rating3_3" required="required">
                    <option value="">Give Rating...</option>
                    <option value="1">Strongly Disagree</option>
                    <option value="2">Disagree</option>
                    <option value="3">Neutral</option>
                    <option value="4">Agree</option>
                    <option value="5">Strongly Agree</option>
                </select>

            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="rating3_4">
                The instructor was up-to-date with the subject
            </label>

            <div class="controls">
                <!-- single dropdown -->
                <select class="input-medium" id="rating3_4" name="rating3_4" required="required">
                    <option value="">Give Rating...</option>
                    <option value="1">Strongly Disagree</option>
                    <option value="2">Disagree</option>
                    <option value="3">Neutral</option>
                    <option value="4">Agree</option>
                    <option value="5">Strongly Agree</option>
                </select>

            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="rating3_5">
                The instructor's presentations were clear and understandable
            </label>

            <div class="controls">
                <!-- single dropdown -->
                <select class="input-medium" id="rating3_5" name="rating3_5" required="required">
                    <option value="">Give Rating...</option>
                    <option value="1">Strongly Disagree</option>
                    <option value="2">Disagree</option>
                    <option value="3">Neutral</option>
                    <option value="4">Agree</option>
                    <option value="5">Strongly Agree</option>
                </select>

            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="rating3_6">
                Topics were covered in a logical sequence
            </label>

            <div class="controls">
                <!-- single dropdown -->
                <select class="input-medium" id="rating3_6" name="rating3_6" required="required">
                    <option value="">Give Rating...</option>
                    <option value="1">Strongly Disagree</option>
                    <option value="2">Disagree</option>
                    <option value="3">Neutral</option>
                    <option value="4">Agree</option>
                    <option value="5">Strongly Agree</option>
                </select>

            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="rating3_7">
                Assignments were useful and followed the lectures
            </label>

            <div class="controls">
                <!-- single dropdown -->
                <select class="input-medium" id="rating3_7" name="rating3_7" required="required">
                    <option value="">Give Rating...</option>
                    <option value="1">Strongly Disagree</option>
                    <option value="2">Disagree</option>
                    <option value="3">Neutral</option>
                    <option value="4">Agree</option>
                    <option value="5">Strongly Agree</option>
                </select>

            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="rating3_8">
                Laboratory assignments (for the courses with a laboratory components) were useful and followed
                the lectures
            </label>

            <div class="controls">
                <!-- single dropdown -->
                <select class="input-medium" id="rating3_8" name="rating3_8" required="required">
                    <option value="">Give Rating...</option>
                    <option value="1">Strongly Disagree</option>
                    <option value="2">Disagree</option>
                    <option value="3">Neutral</option>
                    <option value="4">Agree</option>
                    <option value="5">Strongly Agree</option>
                </select>

            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="rating3_9">
                Questions and discussions were encouraged
            </label>
            <div class="controls">
                <!-- single dropdown -->
                <select class="input-medium" id="rating3_9" name="rating3_9" required="required">
                    <option value="">Give Rating...</option>
                    <option value="1">Strongly Disagree</option>
                    <option value="2">Disagree</option>
                    <option value="3">Neutral</option>
                    <option value="4">Agree</option>
                    <option value="5">Strongly Agree</option>
                </select>

            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="rating3_10">
                Overall, the instruction was excellent
            </label>

            <div class="controls">
                <!-- single dropdown -->
                <select class="input-medium" id="rating3_10" name="rating3_10" required="required">
                    <option value="">Give Rating...</option>
                    <option value="1">Strongly Disagree</option>
                    <option value="2">Disagree</option>
                    <option value="3">Neutral</option>
                    <option value="4">Agree</option>
                    <option value="5">Strongly Agree</option>
                </select>

            </div>
        </div>

    </fieldset>

    <fieldset>

        <legend>4.Strong and Weak points of the Course/Instructors</legend>

        <div class="control-group">
            <label class="control-label" for="comment" style="width: 150px;">
                Enter your Comment
            </label>

            <div class="controls" style="margin-left: 170px;">
                <textarea name="comment" placeholder="Here" id="comment" rows="10" class="input-xxlarge"></textarea>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <button type="submit" class="btn btn-primary btn-large">Submit Feedback</button>
    </fieldset>

{% endblock form %}
