{% extends "view_keys.jinja2" %}

{% block body %}
{{ super() }}

{% endblock body %}


{% block keys_created %}
    {% if error is undefined %}
        <div class="alert alert-block alert-success">
            <h4>Keys are Created and Stored Successfully.</h4>
        </div>
    {% endif %}
{% endblock keys_created %}

