<html>

<head>
    <title>
        Course Feedback Forms
    </title>
    <link href="/css/style.css" type="text/css" rel="stylesheet"/>
</head>

<body>

<h1>Course Evaluation Forms</h1>

<hr/>
<p><a href="/formA">Form A</a></p>
<p><a href="/formB">Form B</a></p>
<p><a href="/formC">Form C</a></p>


</body>

</html>