{% extends "base.jinja2" %}

{% block body %}

    <div class="well" style="background: #fff">
        <h1>Course Evaluation Forms</h1>

        <hr/>
        {% block notification %}
        {% endblock notification %}

        <p>
            <a href="/formA">Form A -- Courses Having Tutorial/Studio Component</a>
        </p>

        <p>
            <a href="/formB">Form B -- Courses without Tutorial/Studio Component</a>
        </p>

        <p>
            <a href="/formC">Form C -- All laboratory courses</a>
        </p>

    </div>

{% endblock body %}