{% extends "base.jinja2" %}

{% block formlinks %}
{% endblock formlinks %}

{% block body %}
    <div class="well">
        {% if error is defined %}
        <div class="alert alert-block alert-error"> {{ error }}</div>
        {% endif %}


        <div class="alert alert-block alert-info">
            The datastore contains a total of {{ count }} Keys.
        </div>


    </div>
{% endblock body %}


