{% extends "index.jinja2" %}

{% block notification %}
    <div class="alert alert-block alert-success">
        <h4>
            Form Submission Successful
        </h4>
    </div>
{% endblock notification %}